{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crops Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" id="bootstrapCSS"/>
  <!-- Apple Touch Icon (for iOS devices) -->
  <link rel="apple-touch-icon" href="https://gestion.ntsgrow.com/assets/img/favicon/favicon1.png">
  <!-- Apple Touch Icon for different sizes (optional for better resolution support) -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://gestion.ntsgrow.com/assets/img/favicon/favicon1.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://gestion.ntsgrow.com/assets/img/favicon/favicon1.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://gestion.ntsgrow.com/assets/img/favicon/favicon1.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://gestion.ntsgrow.com/assets/img/favicon/favicon1.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Status Bar Style (controls how the iOS status bar looks when the app is opened) -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Other options for status bar: "black" or "default" -->
  <!-- Set the name of the app as it will appear on the home screen -->
  <meta name="apple-mobile-web-app-title" content="Triagro">
  <!-- Optional: Set the background color for the splash screen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Web App Manifest (optional, for more customization) -->
  <link rel="manifest" href="https://gestion.ntsgrow.com/assets/img/favicon/manifest.json"> 
  <!-- Optional: Set the theme color for browsers that support it (e.g., Chrome, Opera, Edge) -->
  <!-- For good practice: Set the viewport for responsive design -->
  {% block style%} {% endblock %}
</head>

<body>
  <div class="container">
    {%block content%} {%block heading %} {% endblock %} {% endblock %}
  </div>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXlHjGpG9iLW+itdG6vVDT3z7MV3pz6SMNfE1+tEZuJr+Po6w5hZ9GFsm+Y7"
    crossorigin="anonymous"></script> -->
  {% block script %} {% endblock %}
</body>

</html>